*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: brown;
    flex-direction: column;
}
 .container{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
 }

.jeevan{
    font-size: 30px;
    color: yellow;
    border: 2px dotted;
  padding: 20px;

}

.back{
    width: 100%;
}

.japg{
    width: 300px;
    height: 300px;
}
.lass{
    position: absolute;
    padding-top: 59px;
  padding-left: 33px;
}
.toped{
    display: flex;
    padding-top: 30px;
    text-align: center;
}


.images{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  

}

.randi{
    width: 300px;
    height: 300px;
}